body {
	margin:0px;
	padding:0px;
	font-family:"微软雅黑";
	max-width:900px;
	margin:auto;
}

.content .content_cn img {
	display:block;
	width:100%;
}

.head {
	height:50px;
	background:#eeeeee;
	position:relative;
	padding:25px;
}

.content {
	padding:15px 25px 0px;
}

.content .content_top .ct1 {
	font-size:26px;
	/* font-weight:bold; */
	letter-spacing:2px;
	border-bottom:1px solid #CCC;
	padding-bottom:17px;
}

.content .content_top .ct2 {
	font-size:14px;
	color:#747373;
}

.content .content_cn p {
	font-size:18px;
	color:#2a2a2a;
	text-indent:2em;
	line-height:40px;
	text-align:justify;
}

.content .content_cn .bold {
	font-weight:bold;
}

.content .content_cn .co {
	/* color:#ef2d36; */
}

.content .content_Js .Js_name {
	height:195px;
	width:100%;
	background:#eeeeee;
}

.content .content_Js .Js_name .nam_l {
	width:230px;
	float:left;
}

.content .content_Js .Js_name .nam_l .nam {
	margin-left:15px;
	margin-top:6px;
}

.content .content_Js .Js_name .nam_r {
	width:360px;
	float:right;
	height:100%;
}

.content .content_Js .Js_name .nam_r p.pon {
	font-size:35px;
	color:black;
	margin:0px;
	text-indent:15px;
}

.content .content_Js .Js_name .nam_r table {
	width:340px;
	text-align:center;
	margin:5px 0px 15px;
}

.content .content_Js .Js_name .nam_r table th {
	font-size:22.73px;
	color:#4e4e4e;
}

.content .content_Js .Js_name .nam_r table td {
	font-size:14.78px;
	color:#747373;
}

.content .content_Js .Js_name .nam_r .btn {
	margin-left:15px;
	width:320px;
	height:44px;
	background:#ef2d36;
	display:block;
	font-size:30px;
	line-height:44px;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	outline:none;
	border-radius:5px;
}

.content .content_Js .Js_name .nam_r .pto {
	padding:15px 0px 20px;
}

.content .content_Js .Js_tx {
	border:1px solid #e5e5e5;
	padding:20px;
	margin:20px auto 30px;
}

.content .content_Js .Js_tx p {
	margin:0px;
	font-size:24px;
	line-height:44px;
	color:#4e4e4e;
}

.content .content_Js .Js_tx p.Bt {
	font-size:28px;
	color:#282828;
}

.content .content_Js .Js_tx .p_one {
	margin-top:20px;
}

.content .content_Js .Js_tx .p_one img {
	width:100%;
	padding-bottom:10px;
}

.content .Jh_tx .Jh {
	height:28px;
	width:100%;
	background:#d2f2fc;
	color:#49484d;
	line-height:32px;
	font-weight:bold;
	font-size:14px;
	text-indent:6px;
}

img {
	max-width:100% !important;
}
.gg-01 {
	margin-left:50px;
	margin-top:-1px;
	font-size:14px;
}

.gg-02 {
	width:100%;
	height:1px;
	margin:20px 0px;
	padding:0px;
	background-color:#D5D5D5;
	overflow:hidden;
	font-size:14px;
}

.gg-031 {
	font-size:13px;
	color:#3361a7;
	margin-bottom:20px;
	position:relative;
	bottom:30px;
	left:50px;
}

.gg-041 {
	font-size:12px;
	color:#999;
	position:relative;
	bottom:30px;
	left:40px;
	font-family:arial;
}

.gg-05 {
	font-size:12px;
	color:#3361a7;
}

.gg-07 {
	margin-left:5px;
	font-size:13px;
}

.gg-08 {
	margin-left:10px;
	margin-top:-14px;
	font-size:12px;
}

.znwxpiaofu {
	width:200px;
	position:fixed;
	top:20%;
	right:8px;
	font-size:16pt;
	text-align:center;
	line-height:18pt;
	display:none;
	background-color:#ffffff;
	border:#900 3px solid;
	padding:10px 5px 10px 5px;
	z-index:99999999;
}

@media screen and (min-width:1120px) {
	.znwxpiaofu {
		display:block;
	}
}
